:root {
    /* color palette exported from https://coolors.co/068d9d-53599a-6d9dc5-80ded9-aeecef */
    --blue-munsell: #068d9dff;
    --ultra-violet: #53599aff;
    --air-superiority-blue: #6d9dc5ff;
    --tiffany-blue: #80ded9ff;
    --celeste: #aeecefff;

    /* override bootstrap defaults to match our portfolio styling */
    --bs-body-bg: var(--celeste);
    --bs-body-color: var(--ultra-violet);
    --bs-link-color: var(--tiffany-blue);
    --bs-body-font-family: 'Roboto', sans-serif;
}

/* set a different font for the navbar */
.navbar {
    font-family: 'Source Sans Pro', sans-serif;
}

/* override values in css classes used by bootstrap components */
.btn-primary {
    --bs-btn-color: var(--tiffany-blue);
    --bs-btn-bg: var(--ultra-violet);
}

.modal {
    --bs-modal-bg: var(--tiffany-blue);
}

.portfolio-item .caption .caption-content {
    color: var(--ultra-violet);
    flex-grow: 1;
    text-align: center;
}

/* make the carousel icons easier to see */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--ultra-violet);
    width: 72px;
    height: 72px;
}

.contact-header-image {
    background-image: url('../assets/img/pexels-alscre-2847648.jpg');
    background-size: cover;
}

/* override the default bootstrap footer styling */
footer.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

footer.footer .social-link {
    display: block;
    text-decoration: none;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: var(--air-superiority-blue);
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}

footer.footer .social-link:hover {
    background-color: var(--ultra-violet);
}