:root {
    /* color palette exported from https://coolors.co/068d9d-53599a-6d9dc5-80ded9-aeecef */
    --blue-munsell: #068d9dff;
    --ultra-violet: #53599aff;
    --air-superiority-blue: #6d9dc5ff;
    --tiffany-blue: #80ded9ff;
    --celeste: #aeecefff;

    /* override bootstrap defaults to match our portfolio styling */
    --bs-body-bg: var(--celeste);
    --bs-body-color: var(--ultra-violet);
    --bs-link-color: var(--tiffany-blue);
    --bs-body-font-family: 'Roboto', sans-serif;
}

/* override theme values in css classes as necessary */
.btn-primary {
    --bs-btn-color: var(--tiffany-blue);
    --bs-btn-bg: var(--ultra-violet);
}

.modal {
    --bs-modal-bg: var(--tiffany-blue);
}

#sidebar-wrapper {
    background: var(--ultra-violet);
}

.portfolio-item .caption .caption-content {
    color: var(--ultra-violet);
    /* change the alpha on the existing variable color */
    /* see example 13 of https://drafts.csswg.org/css-color-5/#colormodify */
    /* background: rgb(from var(--tiffany-blue) r g b / 60%); */
    /* let the caption take the full width of the parent */
    flex-grow: 1;
    text-align: center;
}

.menu-toggle,
.menu-toggle:focus,
.menu-toggle:hover,
.sidebar-nav>.sidebar-brand a,
.sidebar-nav>.sidebar-brand a:hover,
.sidebar-nav li.sidebar-nav-item a {
    color: var(--tiffany-blue);
}

/* make the carousel icons easier to see */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--ultra-violet);
    width: 72px;
    height: 72px;
}

.contact-header-image {
    background-image: url('../xxassets/img/pexels-alscre-2847648.jpg');
    background-size: cover;
}


footer.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  footer.footer .social-link {
    display: block;
    text-decoration: none;
    height: 4rem;
    width: 4rem;
    line-height: 4.3rem;
    font-size: 1.5rem;
    background-color: #1D809F;
    transition: background-color 0.15s ease-in-out;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  }
  footer.footer .social-link:hover {
    background-color: #155d74;
    text-decoration: none;
  }